
{% extends 'masterData/base.html' %}
{% load static %}

{% block content %}

<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="{%url 'home' %}" class="navbar-brand mx-4 mb-3">
            <h5 class="text-primary">Manager Dashboard</h5>
        </a>
       
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="{% static 'img/testimonial-1.jpg' %}" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">{{user.username}}</h6>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="{% url 'home'%}" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Home</a>
            <a href="{% url 'addwarehouse' %}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Add Warehouse</a>
            <a href="{% url 'supplier'%}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Add Supplier</a>
            <a href="{% url 'addcustomer'%}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Add Customer</a>


            {% comment %} <a href="{% url 'inventory'%}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Inventory</a> {% endcomment %}
            <a href="{% url 'ita'%}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Item Approval</a>

            <a href="{% url 'ota'%}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Order Approval</a>
            <a href="{% url 'ihome'%}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Inventory</a>
            <a href="{% url 'dispa'%}" class="nav-item nav-link active"><i class="fa fa-keyboard me-2"></i>Order Dispatch</a>

        </div>
    </nav>
</div>
<!-- Sidebar End -->

    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <div class="navbar-nav align-items-center ms-auto">        
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <span class="d-none d-lg-inline-flex">{{user.username}}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a href=" {% url 'logout'%}" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
          
        <br>
        
        <div class="row">         {% comment %}brings card to the center of screen{% endcomment %}
            <div class="col-11 mx-auto">     {% comment %}reduce the spread of card {% endcomment %}
                 <div class="card shadow border">        {% comment %}brings out the card {% endcomment %}
                    <div class="card-body d-flex flex-column align-items-center">
            <h3 align="center">Dispatch Order</h3>
            <div class="col-12">
                <div class="bg-light rounded h-100 p-4">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Order Id</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">ASN Status</th>
                                    <th scope="col">Gate Pass Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in disp %}
                                <tr>
                                    <td>{{ i.DispatchId }}</td>
                                    <td>{{ i.DispatchDate }}</td>
                                    <td>{{ i.ASNStatus }}</td>
                                    <td>{{i.GatePassStatus}} </td>
                                    <td>
                                    <a  
                                        href="{% url 'gat' i.DispatchId %}"
                                        class="btn btn-sm btn-outline-success"
                                    >
                                        Dispatch order
                                    </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
{% endblock %}




