{% extends 'masterData/base.html' %} {% load static %} {% block content %}


<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
  <nav class="navbar bg-light navbar-light">
    <a href="{%url 'home' %}" class="navbar-brand mx-4 mb-3">
      <h5 class="text-primary">Manager Dashboard</h5>
    </a>

    <div class="d-flex align-items-center ms-4 mb-4">
      <div class="position-relative">
        <img
          class="rounded-circle"
          src="{% static 'img/testimonial-1.jpg' %}"
          alt=""
          style="width: 40px; height: 40px"
        />
        <div
          class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"
        ></div>
      </div>
      <div class="ms-3">
        <h6 class="mb-0">{{user.username}}</h6>
      </div>
    </div>
    <div class="navbar-nav w-100">
      <a href="{% url 'home'%}" class="nav-item nav-link"
        ><i class="fa fa-tachometer-alt me-2"></i>Home</a
      >
      <a href="{% url 'addwarehouse' %}" class="nav-item nav-link"
        ><i class="fa fa-th me-2"></i>Add Warehouse</a
      >
      <a href="{% url 'addsupp'%}" class="nav-item nav-link"
        ><i class="fa fa-keyboard me-2"></i>Add Supplier</a
      >
      <a href="{% url 'addcustomer'%}" class="nav-item nav-link"
        ><i class="fa fa-keyboard me-2"></i>Add Customer</a
      >

      <a href="{% url 'ita'%}" class="nav-item nav-link"
        ><i class="fa fa-keyboard me-2"></i>Item Approval</a
      >

      <a href="{% url 'ota'%}" class="nav-item nav-link"
        ><i class="fa fa-keyboard me-2"></i>Order Approval</a
      >
      <a href="{% url 'ihome'%}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Inventory</a>
      <a href="{% url 'dispa'%}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Order Dispatch</a>

    </div>
  </nav>
</div>
<script>
    {% comment %} var i = document.getElementById("cnt"); {% endcomment %}
    var x = 1;
</script>
<!-- Sidebar End -->

<div class="content">
  <!-- Navbar Start -->
  {% comment %}
  <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <div class="navbar-nav align-items-center ms-auto">
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
          <span class="d-none d-lg-inline-flex">{{user.username}}</span>
        </a>
        <div
          class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0"
        >
          <a href=" {% url 'logout'%}" class="dropdown-item">Log Out</a>
        </div>
      </div>
    </div>
  </nav>
  {% endcomment %}
  <!-- Navbar End -->
  <div class="row">
    <div class="col-8 mx-auto">
      <br />
      <h1 align="center">Advance Shipping Note</h1>
      <div class="card shadow border">
        <div class="card-body d-flex flex-column align-items-center">
          <form method="POST" id="form-id">
            {% csrf_token %} 
            <h4>Order Id: {{ doid }}</h4>
            {% comment %} <h4>Dispatched by: {{ user.username}}</h4> {% endcomment %}
            {% comment %} <hr size="10px" />
            <h3 align="center">Customer Details</h3>
            <hr size="10px" /> {% endcomment %}
            {% comment %} <h4>Name: {{ cust.CustomerName }}</h4>
            <h4>Address: {{ cust.CustomerAddress }}</h4>
            <h4>City: {{ cust.CustomerCity }}</h4> {% endcomment %}
            <h4>Customer Email: {{ cust.CustomerEmail }}</h4>
            <br>
            <br>
            <br>
            {% comment %} <h4>Vehicle Number: {{ dom.VehicleNo }}</h4> {% endcomment %}
            <h4>Hi,<br>Expected Delivery: {{ dom.DispatchDate.date  }}</h4>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br />

  <div class="col-11">
    <div class="card shadow border">
      <div class="d-flex flex-column align-items-center">
        <h3 align="center">Dispatch Order Details</h3>
        <div class="row container-fluid mx-auto">
          <div class="table-responsive mx-0 col-sm">
            <table class="table table-hover table-light mt-2">
              <thead>
                <tr>
                  <th scope="col">SINO</th>
                  <th scope="col">Item Desc</th>
                  <th scope="col">Ord Qty</th>
                </tr>
              </thead>
              <tbody>
                {% for element in ordl %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ element.get_ItemCode_display }}</td>
                    <td>{{ element.Qty }}</td>
                </tr> {% endfor %}
              </tbody>
            </table>
          </div>
          
        </div>
        <br />
      </div>
    </div>
    <a
      href="{% url 'home' %}"
      class="btn btn-sm btn-outline-primary mt-3"
      id="homebtn"
    >
      HOME
    </a>
    <button
      onclick="printpage()"
      class="btn btn-sm btn-outline-primary mt-3"
      id="printbtn"
    >
      Save as PDF
    </button>
  </div>
</div>

<script>
  function printpage() {
    var homebtn = document.getElementById("homebtn");
    homebtn.style.visibility = "hidden";
    var printbtn = document.getElementById("printbtn");
    printbtn.style.visibility = "hidden";
    var nav_bar = document.getElementById("nav_bar");
    homebtn.style.visibility = "hidden";
    window.print();

    homebtn.style.visibility = "visible";

    printbtn.style.visibility = "visible";
    nav_bar.style.visibility = "visible";
  }
</script>

{% endblock %}
