{% extends 'masterData/base.html' %}
{% block content %}
<h1>
    Supervisor approval
</h1>
<a href="{% url 'home' %}" class="btn btn-sm btn-outline-primary"> HOME </a>

<h3 align="center">
    Order Detail to Approve
</h3>
<table class="table table-hover table-dark mt-3">
    <thead>
        <tr>
            <th scope="col">Order Master ID</th>
            <th scope="col">Order Date</th>
            <th scope="col">Customer Id</th>
            <th scope="col">User Id</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for element in list %}
        {% if element.isApproved == 'false' %}
        <tr>
            <td>{{ element }}</td>
            <td>{{ element.OrderDate }}</td>
            <td>{{ element.CustomerId }}</td>
            <td>{{ element.UserId }}</td>
            <td>
                <a href="{% url 'allorderdetail' element.OrderId %}" class="btn btn-sm btn-outline-success"> Approve Order </a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<h3 align="center" class="mt-5">
    Customer Details
</h3>
<table class="table table-hover table-dark mt-3">
    <thead>
        <tr>
            <th scope="col">Customer Id</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Customer Address</th>
            <th scope="col">Customer City</th>
            <th scope="col">Customer Number</th>
            <th scope="col">Customer Email</th>
        </tr>
    </thead>
    <tbody>
        {% for element in cust %}
        <tr>
            <td>{{ element }}</td>
            <td>{{ element.CustomerName }}</td>
            <td>{{ element.CustomerAddress }}</td>
            <td>{{ element.CustomerCity }}</td>
            <td>{{ element.ContactNumber }}</td>
            <td>{{ element.CustomerEmail }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% extends 'masterData/base.html' %}
{% block content %}
<div class="container">
    <div class="row">         {% comment %}brings card to the center of screen{% endcomment %}
        <div class="col-6 mx-auto">     {% comment %}reduce the spread of card {% endcomment %}
             <div class="card shadow border">        {% comment %}brings out the card {% endcomment %}
                <div class="card-body d-flex flex-column align-items-center">   {% comment %}brings text to center inside card{% endcomment %}
                    <h1>super approval</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}