{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="{%url 'worker_dashboard' %}" class="navbar-brand mx-4 mb-3">
            <h5 class="text-primary">Worker Dashboard</h5>
        </a>
       
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="{% static 'img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">{{user.username}}</h6>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="{% url 'worker_dashboard'%}" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Home</a>
            <a href="{% url 'supplierdetails' %}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Good Recieve</a>
            <!-- <a href="{% url 'supplier'%}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Add Supplier</a>
            <a href="{% url 'addcustomer'%}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Add Customer</a> -->

            <a href="{% url 'orm'%}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Order Recieve </a>

            {% comment %} <a href="{% url 'inventory'%}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Inventory</a> {% endcomment %}
            <a href="{% url 'itemtagging'%}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Item Tag</a>

            
            {% comment %} <a href="{% url 'superapproval'%}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Order Processing</a> {% endcomment %}


        </div>
    </nav>
</div>
<!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
        <!-- <div class="content"> -->
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <div class="navbar-nav align-items-center ms-auto">        
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <span class="d-none d-lg-inline-flex">{{user.username}}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a href="{% url 'logout' %}" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <br>
        <div class="card shadow border col-8 mx-auto">
          <div class="card-body d-flex flex-column align-items-center">
            <form method="POST" id="form-id">
              <h4>Supplier Name: {{ supp.SupplierName }}</h4>
              <h4>Contact Number: {{supp.ContactNumber }}</h4>
              <hr size="10px">
              <h4>Recieve Id: {{ RecieveID}}</h4>
              
       
            </form>
          </div>
        </div>
      <br>    
        <!-- Navbar End -->
    <div class="row">
        <div class="col-10 mx-auto">
            <br>
            <h1 align="center">
                Good Recieve Form
            </h1>
            <div class="card shadow border">
                <div class="card-body d-flex flex-column align-items-center">
                    <form method="POST">
                        {% csrf_token %}
                        <div>
                            {{form.as_p}}
                        </div>
                        <button class="btn btn-outline-success btn-sm" type="submit">Add</button>
                    </form>
                    <br>
                    <table class="table table-secondary text-start align-middle table-bordered table-hover mb-0">
                        <tr>
                            <th>Item Code</th>
                            <th>Item Name</th>
                            <th>Batch Number</th>
                            <th>Quantity Recieved</th>
                            
                        </tr>
                        {% for i in item %}
                        <tr>
                            
                            <td>{{i.ItemCode}}</td>
                            <td>{{i.get_ItemCode_display}}</td>
                            <td>{{i.BatchNo}}</td>
                            <td>{{i.RecieveQty}}</td>
                        
                        </tr>
                        {% endfor %}
                    </table>
                    
                    {% endblock content %}
                    
                </div>
            </div>
        </div>
    </div>





