<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worker page</title>
</head>
<body>
<<<<<<<< HEAD:EWMS/authentication/templates/authentication/worker.html
    Hi {{username}}, your role is Worker.
========
    manager dashboard
>>>>>>>> bec83b250cd6b6cc56af8b0e175357c93500d6b9:EWMS/authentication/templates/authentication/dashboard_manager.html
</body>
</html>